@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ec7f13;
  --color-background-light: #f8f7f6;
  --color-background-dark: #221910;
  
  --font-display: "Plus Jakarta Sans", sans-serif;
  
  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

.dark body {
  background: var(--color-background-dark);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
